# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\rryrr\OneDrive - University of Illinois - Urbana\SP2021\CS 126\IdeaProjects\mineopoly-rryrrychu-uiuc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
